@property --p {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

.ripple {
  --p: 1;
  --ripple-radius: calc((1 - var(--p)) * 1rem + var(--p) * 100%);
  --ripple-opacity: calc((1 - var(--p)) * 0.4);
  transition: 0.5s --p;

  cursor: default;
  background-image: radial-gradient(
    circle at var(--x) var(--y),
    rgba(0, 0, 0, var(--ripple-opacity)) var(--ripple-radius),
    transparent 0
  );

  &:active {
    --p: 0;
    transition-duration: 0s;
  }
}

.ripple-using-after {
  --duration: 0.5s;
  --ripple-color: rgba(0, 0, 0, 0.5);
  --size: 2rem;

  overflow: hidden;
  position: relative;

  &:after {
    position: absolute;
    left: var(--x, 0);
    top: var(--y, 0);

    background-color: var(--ripple-color);
    border-radius: 50%;
    content: ' ';
    position: absolute;
    width: var(--size);
    height: var(--size);
    opacity: 0;

    animation-duration: var(--duration);
    animation-fill-mode: forwards;
  }

  &[data-state='pressed'] {
    &:after {
      animation-name: pressed;
    }
  }

  &[data-state='clicked'] {
    &:after {
      animation-name: ripple;
    }
  }
}

@keyframes pressed {
  from {
    transform: translate(-50%, -50%) scale(0);
  }

  to {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 1;
  }
}

@keyframes ripple {
  from {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 1;
  }
  to {
    transform: scale(10);
  }
}
