:root {
  --transition-duration: 0.3s;
  --transition-easing: cubic-bezier(0.5, 0, 0.5, 1);
  --animation-duration: 0.8s;
}

.ui-form {
  // transition: all var(--transition-duration) var(--transition-easing);
  will-change: transform;
  animation: slide-up var(--animation-duration) var(--transition-easing);

  --input-duration: var(--animation-duration);

  > .ui-input,
  > .ui-button {
    // Add animations here
    animation-name: slide-up;
    animation-duration: var(--animation-duration);
    // will take the timing function from its parent
    // which is ui-form in this case
    animation-timing-function: inherit;
    animation-fill-mode: both;
    transition: inherit;
  }

  > .ui-input {
    animation-delay: var(--animation-duration);
  }
  > .ui-button {
    animation-delay: calc(var(--animation-duration) + var(--input-duration) / 2);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
