.button {
  --_button-bg-color: var(--button-bg-color, white);
  --_button-box-shadow: var(--button-box-shadow, 0 0.5rem 1rem #0003);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 3rem;
  width: 12rem;
  border-radius: 0.25rem;

  box-shadow: var(--_button-box-shadow);
  background-color: var(--_button-bg-color);
}

.button.button--back {
  --button-bg-color: lightblue;
}
