.pulse {
  background-color: antiquewhite;
  overflow: hidden;

  .pulse__element {
    width: 32px;
    height: 32px;
    background-color: aqua;
    border-radius: 50%;

    position: absolute;
    left: var(--x, 0);
    top: var(--y, 0);
    visibility: hidden;
  }
}
