html {
  box-sizing: border-box;
}
body {
  background-color: var(--app-bg-color);
  margin: 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

:root {
  --app-bg-color: #e4e9f0;
  --app-text-color-lightest: #ffffff;
  --app-text-color: #202832;
  --status-panel-bg-color: #0058a1;
  --button-disabled: #6b7785;
  --button-article-price-color: #6b7785;
  --bg: #2a3641f2;
  --button-clicked-before-bg: #2a364177;
}
